ul
{
	list-style-type: none;
}
article
{
	border: 3px black solid
}
article
{
	margin: auto;
	padding: auto;
	width: 50%
}
body
{
	font-size: 16px
}
h2
{
	text-decoration: underline;

}
h2
{
	margin: 5px;
	padding: 5px;
	width:	auto;
}
h1
{
	margin:	auto;
	padding: auto;
	max-width: auto;
}
#conteneur1
{
	display: flex;
	justify-content: right;
	align-self: right;
}