body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-gray-bg);
  }
  
:root{
    --red: #c76c62;
    --light-gray-bg: #dee0e6;
    --bleu: #134e6f;
    --bleu-clair: #1ac0c6;
    --orange: #f8ba5d;
}

header {
    background-color: var(--bleu-clair);
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--bleu-clair), var(--orange), var(--red), var(--bleu)) 1;
    max-width: 1500px;
    display: flex;
    padding: 3rem;
}

footer{
    border: solid black 2px;
    background-color: var(--bleu-clair);
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
}

ul{
    list-style-type: none;
}